<section id="new_feed">
  <form action="/feeds" method="post">
    <label for="feed_link">RSS Link</label>
    <input type="text" name="feed_link" id="feed_link">
    <button>ADD Feed</button>
  </form>
</section>