<section id="new_feed" class="col-1">
  <form action="/feeds" method="post">
    <% if flash[:error] %>
       <div class="error">
         <p><%= flash[:error] %></p>
       </div>
    <% end %>
    <label for="feed_link">RSS Link</label>
    <input type="text" name="feed_link" id="feed_link" placeholder="Enter link podcast, news" required>
    <button type="submit">Create Feed</button>
  </form>
  <h3>Some links for demo</h3>
  <a href="https://www.nasa.gov/rss/dyn/breaking_news.rss" target="_blank">NASA Breaking News</a><br><br>
  <a href="https://anchor.fm/s/b643470/podcast/rss" target="_blank">Pursuing Mastery Podcast</a> 
</section>