* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #657b83;
}

body {
  background-color: #fdf6e4;
}

a {
  text-decoration: none;
  color: #859914;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#logo h1 {
  text-align: center;
  color: #b58900;
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  border-right: 1px solid #657b83;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  font-size: 1.3em;
}

.sessions {
  width:  350px;
  margin: 0 auto;
  margin-top: 60px;
}

.sessions h1 {
  text-align: center;
  margin-bottom: 60px;
}

.sessions input {
  display: block;
  margin-bottom: 10px;
  padding: 16px 0 16px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #657b83;
  background-color: inherit;
  color: black;
}

.sessions label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.sessions button {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 40px;
  font-size: 1.2em;
  font-weight: bold;
  border: 0;
  background-color: #628ed2;
  color: white;
  transition: 0.12s all;
}

.sessions button:hover {
  background-color: #00a7c8;
  cursor: pointer;
}

.error p, .error li{
  color: #FF5B5B;
  font-size: 1.2em;
}

.error ul {
  padding-left: 20px;
}

.error ul li {
  margin-bottom: 10px;
}


#index p{
  text-align: justify;
  font-size: 1.17em;
}


#heart-symbol {
  color: #ff0000;
}

footer {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 1.1em;
}

#github-link {
  margin-right: 20px;
}

#new_feed label, input, button{
  display: block;
  margin-bottom: 10px;
  
}

#new_feed label {
  font-size: 1.4em;
}

#new_feed input{
  display: block;
  margin-bottom: 10px;
  padding: 16px 0 16px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #657b83;
  background-color: inherit;
  font-size: 1.2em;
}

#new_feed button {
  display: block;
  width: 35%;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  border: 0;
  background-color: #628ed2;
  color: white;
  transition: 0.12s all;
}

#new_feed button:hover {
  background-color: #00a7c8;
  cursor: pointer;
}


