<section id="articles">
  <h1><%= @feed.title %></h1>
  <h2>Articles</h2>
  <ul>
    <% @articles.each do |article| %>
      <li><a href="/feeds/<%= @feed.id %>/articles/<%= article.id %>"><%= article.title %></a></li>
    <% end %>
  </ul>
</section>