* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #657b83;
}

body {
  background-color: #fdf6e4;
}

a {
  text-decoration: none;
  color: #859914;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#logo {
  text-align: center;
  margin-top: 1.5em;
}

#logo h1 {
  margin-top: 0;
  color: #b58900;
}

div#logo button#new_feed_button {
  display: inline;
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  border-right: 1px solid #657b83;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  font-size: 1.3em;
}

.sessions {
  width:  350px;
  margin: 0 auto;
  margin-top: 60px;
}

.sessions h1 {
  text-align: center;
  margin-bottom: 60px;
}

.sessions input {
  display: block;
  margin-bottom: 10px;
  padding: 16px 0 16px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #657b83;
  background-color: inherit;
  color: black;
}

.sessions label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.sessions button {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 40px;
  font-size: 1.2em;
  font-weight: bold;
  border: 0;
  background-color: #628ed2;
  color: white;
  
  -webkit-transition: 0.12s all;
  -moz-transition: 0.12s all;
  -ms-transition: 0.12s all;
  -o-transition: 0.12s all;
  transition: 0.12s all;
}

.sessions button:hover {
  background-color: #00a7c8;
  cursor: pointer;
}

.error p, .error li{
  color: #FF5B5B;
  font-size: 1.2em;
}

.error ul {
  padding-left: 20px;
}

.error ul li {
  margin-bottom: 10px;
}

#index {
  margin: 0 auto;
  margin-top: 2em;
}

#index p{
  text-align: justify;
  font-size: 1.17em;
  line-height: 1.5em;
}

#index h3 span {
  color: #628ed2;
}


#heart-symbol {
  color: #ff0000;
}

footer {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 1.1em;
}

#github-link {
  margin-right: 20px;
}

#github-link, footer span {
  display: inline-block;
}

#new_feed {
  margin-top: 2em;
  padding: 0 15px;
}

#new_feed label, input, button{
  display: block;
  margin-bottom: 10px;
  
}

#new_feed label {
  font-size: 1.4em;
}

#new_feed input{
  display: block;
  margin-bottom: 10px;
  padding: 16px 0 16px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #657b83;
  background-color: inherit;
  font-size: 1.2em;
}

#new_feed button {
  display: block;
  width: 250px;
  margin: 0 auto;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  border: 0;
  background-color: #628ed2;
  color: white;
  -webkit-transition: 0.12s all;
  -moz-transition: 0.12s all;
  -ms-transition: 0.12s all;
  -o-transition: 0.12s all;
  transition: 0.12s all;
}

#new_feed button:hover {
  background-color: #00a7c8;
  cursor: pointer;
}

#feeds {
  padding: 0 15px;
}

#feeds ul {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}


#feeds ul li {
  margin-bottom: 1.2em;
}

#feeds ul li a img {
  width: 80px;
  height: 40px;
  position: relative;
  top: 10px;
  display: inline-block;
}

#feeds ul li a span {
  display: inline-block;
  color: #859914;
}

#articles {
  margin-top: 2em;
}

#articles ul {
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  margin-top: 0;
}

#articles ul li {
  margin-bottom: 1.2em;
}

#articles ul li a img {
  width: 130px;
  height: 78px;
  position: relative;
  top: 20px;
  display: inline-block;
}

#articles ul li a span {
  display: inline-block;
  color: #859914;
}

#articles h2 {
  margin-bottom: 0;
}

#articles h2.feed_title, #article_show h2.feed_title{
  color: #628ed2;
  margin-bottom: 20px;
}

#article_show h2.feed_title a {
  color: #628ed2;
}

#articles div form {
  display: inline-block;
}

#articles div form button, #article_external_link, #new_feed_button {
  padding-top: 9px;
  padding-bottom: 7px;
  border-radius: 4px;
  padding: 12px 22px 10px;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  -webkit-transition: 0.12s all;
  -moz-transition: 0.12s all;
  -ms-transition: 0.12s all;
  -o-transition: 0.12s all;
  transition: 0.12s all;
}

#articles_found {
  color: #859914;
  font-weight: bold;
}

#unfollow {
  margin-right: 20px;
  background-color: #FF5B5B;
}

#unfollow:hover {
  background-color: #ff1e28;
}

#update, #article_external_link, #new_feed_button {
  background-color: #75B74F;
}

#update:hover, #article_external_link:hover, #new_feed_button:hover {
  background-color: #66a54a;
}

#article_external_link {
  margin-top: 20px;
}

#article_show {
  margin-top: 2em;
  padding: 0 15px;
}

#article_show h3 {
  color: #859914;
  margin-top: 1.5em;
}

#article_show img, #article_show audio {
  display: block;
  width: 100%;
  max-width: 100%;
}

p#description {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: justify;
}