<section id="index" class="col-1">
  <% if logged_in? %>
    <h3>Logged in with <span><%= current_user.email %></span></h3>
  <% end %>

  <h3>About</h3>
  <p>
    This is a RSS Reader application or RSS feeds aggregator <br><br>
    What is RSS?<br><br>
    RSS means Really Simple Syndication which allows users and applications to access updates to websites in a standardized, computer-readable format. These feeds can, for example, allow a user to keep track of many different websites in a single news aggregator. The news aggregator will automatically check the RSS feed for new content, allowing the content to be automatically passed from website to website or from website to user.
    <br>
    <br>
    <a href="#">Watch this video to understand how this app works!</a>
  </p>

  <% unless logged_in? %>
    <p>
      Please <a href="/login">Log in</a> to add RSS feeds for reading.
    </p>
  <% end %>
  
</section>